<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Employee Details</title>
	<style type="text/css">
		p{
			text-align: center;
			background-color: cadetblue;
			color: white;
			padding: 23px;
			margin-left: 40%;
			margin-right: 40% ; 
		}
		#sample{
			margin-left: 23%;
			background-color: green;
			text-align: center;
			padding: 12px;
		}
	</style>
</head>
<body>
	<h3>Your Name is: <span style="color:green;font-size:29px">{{n}}</span></h3>
	<h4 id = "sample" style="text-align:center">Your Id is: {{i}}</h4>
<h1>Internal</h1>
<p>This is an example for internal styling based on tag</p>
<h4 id = "sample">This is an example for internal based on Id</h4>

</body>
</html>