<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<style type="text/css">
		body{
			background-color: #19E8B3;
		}
	</style>
</head>
<body>
	<table>
		<tr>
			<thead>
				<th>fname</th>
				<th>lname</th>
				<th>pno</th>
				<th>gender</th>
				<th>email</th>
				<th>address</th>
				<th>languages</th>
				
			</thead>
		</tr>
		<tr>
			<tbody>
				<td>{{fname}}</td>
				<td>{{lname}}</td>
				<td>{{pno}}</td>
				
				<td>{{gender}}</td>
				<td>{{email}}</td>
				<td>{{address}}</td>
				<td>{{lang}}</td>
				
			</tbody>
			
		</tr>
	</table>
</body>
</html>